@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&disp1ay=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
   overflow: hidden;
   background: #1f242d;
}
.container{
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;

}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color:#dee4e8;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: #7f00ff;
}
.navItems{
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color:#ffffff;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,.links a:hover{
    color: #7f00ff;
}
.links a{
    font-size: 30px;
    color: #ffffff;
    margin: 25px 10px;
}



.wrapper{
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    overflow: hidden;
}
.wrapper::before{
    position: absolute;
    content: ' ';
    height: 600px;
    width: 600px;
    border-radius: 50%;
    left: -12%;
    top: 40%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object1 6s linear infinite;
}
.wrapper::after{
    position: absolute;
    content: ' ';
    height: 200px;
    width: 200px;
    border-radius: 50%;
    left: 35%;
    top: 12%;
    background: linear-gradient(45deg,#7f00ff,pink);
    animation: object2 6s linear infinite;
}
@keyframes object1{
    50%{
        left: -13%;
        top: 41%;
    }
}
@keyframes object2{
    50%{
        left: 35%;
        top: 10%;
    }
}
.cols{
    width: 50%;
}
.cols0{
    width: 110%;
    z-index: 5;

}
.top{
    display: block;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: 1.7px;
    color: #ffffff;
}
.top::after{
    position: absolute;
    content: ' ' ;
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 6em;
    font-weight: 900;
    color:#ffffff;
}
.multiText{
    color: #7f00ff;
    text-transform: capitalize;
}
p{
    display: block;
    width: 90%;
    font-size: 1.3em;
    color: #ffffff;
}
.bt{
    width: 100%;
    position: relative;
    left: 150px;
}
button{
    outline: none;
    border:none;
    cursor: pointer;
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #3d535f;
    padding: 8px 14px;
    margin: 40px 5px;
    letter-spacing: 2px;
    text-transform: capitalize;
    box-shadow: 0 15px 10px rgba(0,0,0,0.4);
}
button:hover{
    background-color: #7f00ff;
}
.imgbox{
    position: relative;
    width:  80%;
    height: 100%;
    left: 30%;
}
.imgbox img{
    position: relative;
    height: 100%;
    width: calc(180% - 90px);
    top: -10px;
    right: 50px;
    transform: rotateY(0deg);
    animation: animateUser 4s linear infinite;
}

@keyframes animateUser{
    50%{
        right: 30px;
        top: -20px;
    }
}
.imgbox #splash{
    position: absolute;
    top: 60%;
    left: 70%;
    transform: translate(-70%,-50%) rotate(200deg);
    width: 150%;
    filter:saturate(200%);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    50%{
        top:60%;
        left: 65%;
        width: 155%;

    }
}
